/* TERRY'S CSS! NOT YOURS! 

DO NOT TOUCH *SUPER ANGRY TERRY FACE


..................................789465239078689761347053734753750134...................................                  
................................6565146541646514324684165414498416546546.................................
..............................65461613246546524521156987236542654454264545...............................
............................465132465436164362165456265423546521464136151114.............................
...........................76897647628058347568098593475426778975904785634855............................
..........................7349673918789235756124623480575986076897453789375326...........................
.........................54646513216 456446546546465465465465465464 45869325419..........................
........................65340962096    46546546546546546546465645    45896587436.........................
.......................46514314646       5646546546546546464654       25631498625........................
......................52366945644          654654654654413261          56937145632.......................
.....................64785687134              654654644444              98712365478......................
....................84984444654                                          27854646546.....................
....................8656878767                                            9465132149.....................
....................465498444                                              325478365.....................
....................76276466                                                25698745.....................
...............5361.545465                                                    256389.61566...............
..............9     4526////////////////////////////////////////////////////////2689      1..............
.............51  5   91     //////////////////\         0 /\\\\\\\\\\\\\\\\\\     65   5  50.............
..............6 5 5         \\\\\\\\\\\\\\\\\\/        0  \//////////////////         5 5 9..............
...............4             \////////////////         0   \\\\\\\\\\\\\\\\/             1...............
...............9 5            \//////////////          0    \\\\\\\\\\\\\\/            5 0...............
................2 5            \\\\\\\\\\\\/           0     \////////////            5 2................
................5                                      0                                7................
................2 2                                    0                              2 2................
...............6  2                             0       0                             2  5...............
..............3  288                           0         0                           288  0..............
..............2  288                           0 **   ** 0                           288  8..............
...............9                                *  ***  *                                2...............
.................7                                                                      4................
..................4586                                                              6495.................
.....................3                                                              7....................
.....................4                                                              8....................
.....................3                                                              1....................
.....................8                                                              2....................
.....................3                                                              3....................
.....................8                                                              9....................
.....................4                                                              8....................          
.....................6                    /____________________                     6....................
......................0                   \                                        7.....................
.......................8                                                          3......................
........................1                                                        4.......................
.........................7                                                      9........................
..........................8                                                    0.........................
...........................1                                                  2..........................
.............................8                                               5...........................
..............................3                                            7.............................
................................9                                        1...............................
..................................8                                    8.................................
....................................6                                0...................................
......................................236578365836484658389292764783.....................................

*/

body {
	margin: 0;
}

.main {
	padding: 10px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;

}

.box {
	flex-grow: 1;
	width: 33%;
	min-width: 350px;
	
}

.boxInner {
    border: 10px darkgrey solid;
    min-height: 400px;
    margin: 10px;
    padding: 15px;
}

/* PHOTO */

.photoHolder {
    border: 10px darkgrey solid;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: #585858;
    display: block;
    margin: 50px auto;
    background-position: center;
    background-size: cover;
}

.boxInner h1 {
    text-align: center;
    margin: 0;
}

/* INFORMATION */

/* PET */
#petPhoto {
	height: 180px;
	width: 180px;
	margin: 20px auto;
	display: block;
	border: 10px darkgrey solid;
	border-radius: 50%;
	background-position: center;
    background-size: cover;
}

#petInfo h2 {
	text-align: center;
	margin: 0;
}

#petInfo p {
	text-align: center;
	margin: 0;
}

/* GIFS */

#gifs {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.gifBox {
    width: 30%;
    flex-grow: 1;
    min-width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: 10px solid grey;
}

#quiz button{
    border: 0;
    padding: 50px;
    margin: 80px auto;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #fff;
    background-color: #585858;
}